@page
@model AjaxModel
@{
	ViewBag.Title = "Ajax";
}

<section>
	<button hx-get="" hx-include="[name='handler']">GET</button>
	<input name="handler" type="hidden" value="partial" />
	<button hx-post="">POST</button>
	<button hx-put="">PUT</button>
	<button hx-patch="">PATCH</button>
	<button hx-delete="">DELETE</button>
</section>
<section>
	<ul>
		<li><a href="https://htmx.org/docs/#ajax">&lt;/&gt; htmx ~ Documentation</a></li>
	</ul>
</section>
